.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Container{
  margin-top: 100px;
}
.ButtonContainer{
  background-color: #eeeeee;
}
.Button{
  font-size: 20px;
  width:130px;
  padding:10px 20px;
  margin:20px;
  border:none;
  border-radius:5px;
  background-color:lightblue;
  cursor: pointer;
}
.Button:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.success{
  background-color:lightgreen;
}
.warn{
  background-color:gold;
}
.primary{
  background-color: skyblue;
}
.undefined{
  background-color:#e1e1e1;
}

.log{
  font-size: 18px;
  text-align: center;
  color:#e1e1e1;
}
/*log和empty都会使用这个样式*/
/*.log .empty-log{*/
  /*display:inline-block;*/
  /*padding: 50px 50px;*/
/*}*/

/*log下的empty-log会使用这个样式*/
.log > .empty-log{
  display:inline-block;
  padding:50px 50px;
}

ul,li{
  list-style:none;
  margin:0px;
  padding: 0px;
}

.log > li{
  fontfont-size: 25px;
  color:#000;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

/*伪类：悬浮*/
.log>li:hover{
  background-color: rgba(238,238,238,0.5);
}


